SmashSquash/Assets/TextMesh Pro/MSJH SDF.asset
SmashSquashMaterial/
SmashSquash/SmashSquash_key.keystore
SmashSquash/Output/
SmashSquash/Library/
SmashSquash/.vs
SmashSquash/Assets/DinV/
SmashSquash/Assets/Flower/Resources/
SmashSquash/Assets/Gentleland/
SmashSquash/Assets/GentlelandSettings/
SmashSquash/Assets/OccaSoftware/
SmashSquash/Assets/Plugins/
SmashSquash/Assets/Prefabs/
SmashSquash/Assets/Sprite/
SmashSquash/Assets/StreamingAssets/
SmashSquash/Assets/TextMesh Pro/
SmashSquash/Assets/Texture/
SmashSquash/Assets/Travis Game Assets/
SmashSquash/*.csproj
SmashSquash/obj/
SmashSquash - copy/
SmashSquash/Assets/log*